html {
    background-color: black;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 1%;
}

.header,
.hero {
    background-color: #1F2937;
}

.logo {
    color: #F9FAF8;
    padding-top: 20px;
    padding-left: 10%;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.headerlinks ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-right: 10%;
    gap: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.hero {
    display: flex;
    padding-top: 56px;
    padding-bottom: 56px;
    justify-content: center;
    gap: 10%;
    padding-left: 3%;
    padding-right: 3%;
}

.herotext {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.herodesc {
    flex: 1 1 0;
    width: 350px;
    
}

.hero button {
    width: 75px;
}

.herophoto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: auto;
    background-color: grey;
    flex-shrink: 1;
}

.gallery {
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    background-color: white;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.photos {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
}

.photo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.img {
    height: 200px;
    width: 200px;
    background-color: gray;
    flex-shrink: 1;
}

.text {
    flex-shrink: 1;
    max-width: 200px;
}

.gallerytitle {
    text-align: center;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 56px;
    padding-bottom: 56px;
    background-color: #E5E7EB;
}
.quotation {
    max-width: 55%;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937
}
.author {
    align-self: flex-end;
    font-size: 20px;
    font-weight: bold;
}

.action {
    display: flex;
    background-color: white;
    padding: 56px 25px;
    justify-content: center;
}

.actionwrapper {
    flex: 1 1 0;
    max-width: 450px;
    display: flex;
    justify-content: space-evenly;
    background-color: #3882F6;
    padding: 16px 38px;
}

.actiontext {
    display: flex;
    flex-direction: column;
}

.actiontitle {
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.actionmain {
    color: white;
    font-size: 14px;
}

.footer {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bolder;
    font-size: 14px;
}